.single-episode__box{
    margin-top: 90px;
    padding: 10px;
    background-color: rgb(15, 8, 13);
    box-shadow: 0 0 20px #ff009d;
    max-width: 700px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}


.episode-btn {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.episode__box--content {
    font-family: 'Viga', sans-serif;
}